@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
$black: #011627;
$white: #FDFFFC;
$white-bis: #E4E4E4;
$white-ter: #C9C9C9;
$blue: #2EC4B6;
$rose: #E71D36;
$orange: #FF9F1C;
// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $rose;
$link: $blue;
$warning: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $white;
// Footer
$footer-background-color: $white-bis;
$footer-padding: 2rem 1rem 1rem;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/helpers/_all.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/_all.sass";
@import "node_modules/bulma/sass/layout/_all.sass";